<form class="example-form login-form " [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Username" formControlName="loginFormInput"/>
    <mat-hint>Username</mat-hint>
    <mat-error *ngIf="formGroup.get('loginFormInput').hasError('required')">
      Please enter your username
    </mat-error>
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Password" formControlName="passwordFormInput"/>
    <mat-hint>Password</mat-hint>
    <mat-error *ngIf="formGroup.get('passwordFormInput').hasError('required')">
      Please enter your password
    </mat-error>
  </mat-form-field>
  <mat-checkbox class="remember-me-checkbox" formControlName="rememberMeFlag">Remember my login on this computer</mat-checkbox>
  <button class="submit-button" type="submit">Login</button>
  <span class="form-error" *ngIf='submitted && !authenticated'>Login Failed!</span>
  
</form>