/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

.overview-box {
     padding: 15px;
     width: 20%;
     display: inline-table;
}