/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  background-color:  darkslategray;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

header {
  background-color:  darkslategray;
  width: 100%;
  display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255,255,255,.7);
  transition: background-color 5000s ease-in-out 0s;
  color: rgba(255,255,255,.7);
}

.overview-box {
     padding: 15px;
     width: 20%;
     display: inline-table;
}

.login-form {
    margin: 50px auto;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
 
.login-form-fild {
  width: 100%;
  color: rgba(255,255,255,.7);
}

.remember-me-checkbox {
  display: block;
  color: rgba(255,255,255,.7);
  width: 100%;
}

.submit-button {
  margin-top: 30px;
  width: 180px;
  padding: 2px;
  color: rgba(255,255,255,.7);
  background-color:  cadetblue;
  border-color: cadetblue;
}

.logout-button {
  float: right;
}

.form-error {
  margin-left: 30px;
  color: #f44336;
}

